.accordion {
    .card {
        .card-header {
            font-weight: bold;
            font-size: 24px;
            line-height: 30px;
            border-bottom: 1px solid rgba(#E2E2E2,.52);
            @include media-breakpoint-down(lg) {
                font-size: 22px;
                line-height: 1.4;
            }	
            @include media-breakpoint-down(md) {
                font-size: 20px;
            }	
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }
        .card-link {
            color:$text-black;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 26px 16px;
            @include media-breakpoint-down(sm) {
                padding-left: 0px;
                padding-right: 0px;
            }
            img {
                margin-left: 15px;
                transition: 0.3s ease-in-out transform;
                transform: rotate(180deg);
            }
            &:not(.collapsed) {
                img {
                    transform: rotate(0deg);
                }
            }
        }
        .card-body {
            font-weight: 500;
            font-size: 20px;
            line-height: 32px;
            padding-bottom: 20px;
            padding: 0px 16px;
            padding-top: 20px;
            @include media-breakpoint-down(lg) {
                font-size: 18px;
                line-height: 1.4;
            }	
            @include media-breakpoint-down(md) {
                font-size: 16px;
            }	
            @include media-breakpoint-down(sm) {
                font-size: 14px;
                padding-left: 0px;
                padding-right: 0px;
            }
            p {
                font-size: 20px;
                margin-bottom: 0;
                margin-top: 0px;
                @include media-breakpoint-down(lg) {
                    font-size: 18px;
                }	
                @include media-breakpoint-down(md) {
                    font-size: 16px;
                }	
                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }
                & + p {
                    margin-top: 40px;
                    @include media-breakpoint-down(md) {
                        margin-top: 25px;
                    }	
                }
            }
            ul {
                li {
                    & + li {
                        margin-top: 10px;
                    }
                }
            }
        }
    }
}