.product-size-widget {
    &__row {
        & + & { 
            margin-top: 15px;
        }
    }
    &__checkbox {

        label {
            padding-top: 3px;
            color:#000;
            display: flex;
            justify-content: space-between;
            font-size: 13px;
            @include media-breakpoint-down(sm) {
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
            }
            span {
                font-weight: 900;
                font-size: 15px;
                @include media-breakpoint-down(sm) {
                    display: block;
                }
            }
        }
    }
}