.profile-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style:none;
    li {
        position: relative;
        & + li {
            margin-left: 15px;
        }
    }
    &__link {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size: 13px;
        line-height: 123%;        
        text-align: center;
        color: #FFFFFF;
        height: 48px;
        @include media-breakpoint-down(sm) {
            font-size: 10px;
            height: auto;
        }
        &:hover {
            .profile-menu__icon {
                transform: translateY(-5px);
            }
        }
    }

    // .profile-menu__icon

    &__icon {
        margin-bottom: 7px;
        position: relative;
        transition: 0.1s ease-in-out transform;
        @include media-breakpoint-down(sm) {
            margin-bottom: 0px;
        }
        img {
            @include media-breakpoint-down(sm) {
                width: 20px;
            }
        }
    }

    // .profile-menu__pin

    &__pin {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: #FF1500;
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        line-height: 145%;        
        min-width: 16px;
        width: auto;
        height: 16px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 8px;  
        color: #FFFFFF;
        padding: 0px 5px;
        @include media-breakpoint-down(sm) {
            font-size: 8px;
            right: -10px;
        }
    }
}
