.catalog {
    &__sidebar {

    }
    &__filters {
    }
    &__filter {

    }
    &__filtersaction {
        padding: 16px;
        button {
            width: 100%;
            & + button {
                margin-top: 8px;
            }
        }
    }
    &__products {
        // .product-card {
        //     &__actions {
        //         .button {
        //             &_addtocart {
        //                 padding: 0px 10px;
        //             }
        //         }
        //     }
        // }
    }
    &__controls {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        @include media-breakpoint-down(md) {
            z-index: 98;
            position: sticky;
            top: 0px;
            padding: 15px 0px;
        }
        @include media-breakpoint-down(sm) {
            flex-direction: column;
            align-items: inherit;
            justify-content: inherit;
        }
        .button {
            display: none;
            @include media-breakpoint-down(md) {
                height: 46px;
                margin-right: 10px;
                display: inline-flex;
                font-size: 14px;
            }    
        }
        .nice-select {
            @include media-breakpoint-down(md) {
                min-width: 150px;
            }
        }
    }
    &__load {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
    &__selectedfilters {
        margin-bottom: 18px;
    }
    &__postcount {
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: #333333;
        @include media-breakpoint-down(md) {
            font-size: 14px;
        }
        @include media-breakpoint-down(sm) {
            display: none;
        }
        span {
            color:$primary-color;
            font-weight: bold;
        }
    }
}