.catalog {

    &__filters {
        background-color: #FFFFFF;
        box-shadow: 0px 101px 130px rgba(0, 0, 0, 0.02), 0px 50.5493px 65.0635px rgba(0, 0, 0, 0.0152067), 0px 30.4485px 39.1912px rgba(0, 0, 0, 0.0130318), 0px 19.513px 25.1158px rgba(0, 0, 0, 0.0114179), 0px 12.6468px 16.278px rgba(0, 0, 0, 0.01), 0px 7.961px 10.2468px rgba(0, 0, 0, 0.0085821), 0px 4.57409px 5.88744px rgba(0, 0, 0, 0.00696822), 0px 2.01317px 2.59121px rgba(0, 0, 0, 0.00479335);
    }
    &__filter {

    }
    &__filtersaction {
        padding: 16px;
    }
    &__products {
        // .product-card {
        //     &__actions {
        //         .button {
        //             &_addtocart {
        //                 padding: 0px 10px;
        //             }
        //         }
        //     }
        // }
    }
    &__controls {
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    &__load {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 24px;
    }
    &__nav {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;
    }
}