.page-footer {
    background-color: $bg-gray;
    h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: $text-black;
        margin-bottom: 13px;
    }
    &__nav {
        border-bottom: 1px solid $bg-light-gray;
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 30px 0px;
            @include media-breakpoint-down(sm) {
                justify-content: space-between;
            }
            li {
                & + li {
                    margin-left: 28px;
                }
                a {
                    font-weight: 500;
                    font-size: 13px;
                    line-height: 16px;
                    color: $text-black;
                    &:hover {
                        color:$primary-color;
                        text-decoration: none;
                    }
                }
            }
        }
        &_largespacing {
            ul {
                padding: 45px 0px;
            }
        }

    }

    &__lists {
        margin-top: 58px;
        @include media-breakpoint-down(sm) {
            margin-top: 30px;
        }
    }

    &__social {
        font-weight: 500;
        font-size: 13px;
        line-height: 154%;
        color: $text-dark-gray;
        h4 {
            margin-bottom: 5px;
        }
        .page-footer__socials {
            margin-top: 27px;
        }
    }


    &__socials {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            img {
                @include media-breakpoint-down(md) {
                    width: 28px;
                }     
            }
            & + li {
                margin-left: 12px;
                @include media-breakpoint-down(md) {
                    margin-left: 5px;
                }
            }
        }
    }

    &__description {
        margin-top: 50px;
        @include media-breakpoint-down(sm) {
            margin-top: 20px;
        }
    }

    &__copy {
        font-weight: 500;
        font-size: 13px;
        line-height: 16px;
        color: $text-dark-gray;
        padding-top: 16px;
        padding-bottom: 20px;
        @include media-breakpoint-down(sm) {
            font-size: 12px;
            line-height: 1.4;
        }
    }

    &__paymentslist {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        list-style: none;
        @include media-breakpoint-down(sm) {
            margin-bottom: 15px;
        }
        li {
            & + li {
                margin-left: 5px;
            }
        }
        img {
            @include media-breakpoint-down(sm) {
                max-width: 100%;
            }
        }
    }
    
    .category-list {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }
}

.footer-description {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;    
    letter-spacing: 0.2px;    
    color: $text-dark-gray;
    @include media-breakpoint-down(sm) {
        font-size: 12px;
        line-height: 1.4;
    }
    &__logo {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__text {
        margin-left: -30px;
        @include media-breakpoint-down(md) {
            margin-left: 0px;
        }
    }
}

.footer-button {
    background: transparent;
    color:#5c5c5c;
    border:1px solid #5c5c5c;
    padding: 0px 15px;
    line-height: 35px !important;
    display: inline-block;
    border-radius: 3px;
    &:hover {
        border-color: $primary-color;
    }
}