$red: #FF1500;
$primary-color: #55109F;
$green: #77B853;
$dark-gray: #4E4E4E;

$bg-gray: #F6F7F8;
$bg-light-gray: #E2E2E2;
$bg-red: $red;
$bg-green: $green;

$text-black: #333333;
$text-orange: $red;
$text-primary: $primary-color;
$text-red: $red;
$text-dark-gray: $dark-gray;

$badge-blue: #2F80ED;
$badge-green: $green;
$badge-primary: $primary-color;
$badge-red: #FF4433;
