@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/pt_root_ui_web/PTRootUI_Regular.eot');
	src:
	     url('../fonts/pt_root_ui_web/PTRootUI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Regular.woff2') format('woff2'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Regular.woff') format('woff'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/pt_root_ui_web/PTRootUI_Medium.eot');
	src:
	     url('../fonts/pt_root_ui_web/PTRootUI_Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Medium.woff2') format('woff2'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Medium.woff') format('woff'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/pt_root_ui_web/PTRootUI_Light.eot');
	src:
	     url('../fonts/pt_root_ui_web/PTRootUI_Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Light.woff2') format('woff2'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Light.woff') format('woff'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/pt_root_ui_web/PTRootUI_Bold.eot');
	src:
	     url('../fonts/pt_root_ui_web/PTRootUI_Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Bold.woff2') format('woff2'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Bold.woff') format('woff'),
	     url('../fonts/pt_root_ui_web/PTRootUI_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}