.error-hero {
    background: linear-gradient(90.44deg, #7F10AD 26.83%, #540F9E 72.99%);
    position: relative;
    color:#fff;
    min-height: 100vh;
    padding-top: 60px;
    overflow: hidden;
    @include media-breakpoint-down(md) {
        min-height: 1px;
        padding: 30px 0px;
        padding-bottom: 60px;
    }
    @include media-breakpoint-down(sm) {
        padding: 30px 0px;
        padding-bottom: 60px;
    }
    &:after {
        content:'';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: url(/images/disconnect.png) 0% 100% no-repeat;
        pointer-events: none;
    }

    &__title {
        font-weight: 500;
        font-size: 144px;
        line-height: 181px;
        @include media-breakpoint-down(lg) {
            font-size: 130px;
            line-height: 1.3;
        }
        @include media-breakpoint-down(md) {
            font-size: 130px;
        }
        @include media-breakpoint-down(sm) {
            font-size: 55px;
        }
    }

    &__description {
        font-style: normal;
        font-weight: 500;
        font-size: 64px;
        line-height: 80px;
        margin-top: 6px;
        @include media-breakpoint-down(lg) {
            font-size: 50px;
            line-height: 1.3;
        }
        @include media-breakpoint-down(md) {
            font-size: 24px;
            line-height: 1.4;
        }
        @include media-breakpoint-down(sm) {
            font-size: 18px;
        }
    }

    &__status {
        font-weight: 500;
        font-size: 36px;
        line-height: 45px;
        margin-top: 24px;
        @include media-breakpoint-down(md) {
            font-size: 24px;
            line-height: 1.4;
        }
        @include media-breakpoint-down(sm) {
            font-size: 18px;
            margin-top: 12px;
        }
    }

    &__action {
        margin-top: 64px;
        @include media-breakpoint-down(sm) {
            margin-top: 15px;
        }
    }
}
