button {
	cursor: pointer;
}

.button {
	$height:56px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	height: $height;
	border-radius: 8px;
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
	padding: 0px 35px;
	text-decoration: none;
	background: linear-gradient(90.44deg, #7F10AD 26.83%, #540F9E 72.99%);
	border:0px;
	transition: 0.3s ease all;
	transition-property: box-shadow, background-color;
	cursor: pointer;
	@include media-breakpoint-down(md) {
		font-size: 16px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 14px;
		padding: 0px 15px;
		height: 50px;
	}
	&:hover {
		color:#fff;
		text-decoration: none;
		// background: linear-gradient(90.44deg, #7F10AD 36.83%, #540F9E 62.99%);
		background: linear-gradient(90.44deg, #540F9E 26.83%, #7F10AD 72.99%);
	}
	&:focus {
		outline:0px;
		box-shadow: 0 0 0 3px rgba($primary-color,.25);
	}
	&_addtocart {
		
	}
	&_active {
		background: lighten(#7F10AD,10%);
		&:hover {
			background: lighten(#7F10AD,15%);
		}
	}
	&_like {
		width:$height;
		background: $bg-gray;
		padding: 0px 5px;
		&:hover {
			background: darken($bg-gray,5%);
		}
		&:focus {
			box-shadow: none;
		}
		svg {
			path {
				fill:transparent;
				stroke: #949495;
			}
		}
		&_active {
			outline: 0px;
			// &:hover {
			// 	background: transparent;
			// }
			svg {
				path {
					fill: #FF1500 !important;
					stroke: #FF1500 !important;
				}
			}
		}
	}

	&_lightgray {
		background: $bg-gray;
		color: $text-black;
		&:hover {
			background: darken($bg-gray,7%);
			color:$text-black;
			// background: linear-gradient(90.44deg, #7F10AD 36.83%, #540F9E 62.99%);
			// color: #fff;
		}
		&:focus {
			box-shadow: 0 0 0 3px rgba(darken($bg-gray,10%),.25);
		}
	}
	&_primary {
		background: $primary-color;
		color:#fff;
		&:hover {
			background: darken($primary-color,7%);
		}
	}

	&_text-large {
		font-size: 18px;
	}
	&_reset {
		background: rgba(255, 21, 0, 0.04);
		border: 1px solid rgba(255, 21, 0, 0.16);
		border-radius: 8px;
		font-weight: 500;
		font-size: 16px;
		line-height: 175%;
		color: #FF1500;
		padding: 0px 16px;
		&:hover {
			background: rgba(255, 21, 0, 0.1);
			color: #FF1500;
		}
		img {
			margin-right: 9px;
		}
	}
	&_gradient {
        &_green {
            background: linear-gradient(90.75deg, #00B09B 0%, #96C93D 98.31%);
			&:hover {
				background: linear-gradient(90.44deg, #00B09B 36.83%, #96C93D 62.99%);
			}
			&:focus {
				box-shadow: 0 0 0 3px rgba(#96C93D,.25);
			}
        }
		&_red {
			background: linear-gradient(129.82deg, #E52D27 50%, #B31217 100%);
			&:hover {
				background: linear-gradient(90.44deg, #E52D27 36.83%, #B31217 62.99%);
			}
			&:focus {
				box-shadow: 0 0 0 3px rgba(#B31217,.25);
			}
		}
    }
}
