.form {
    &__fieldset {
        border:0px;
        padding: 0;
        legend {
            font-weight: bold;
            font-size: 32px;
            line-height: 40px;
            margin-bottom: 24px;
            @include media-breakpoint-down(md) {
                font-size: 22px;
                line-height: 1.4;
                margin-bottom: 15px;
            }
        }
        & + .form__fieldset {
            margin-top: 58px;
            @include media-breakpoint-down(sm) {
                margin-top: 35px;
            }
        }
    }
    input {
        &[type=text],
        &[type=tel],
        &[type=password],
        &[type=email] {
            margin:8px 0px;
        }        
    }
    .radio-card {
        margin:8px 0px;
    }
    textarea {
        margin:8px 0px;
    }
    &__action {
        margin-top: 30px;
    }
}


.question-form {
    .input-field {
        margin: 16px 0px;
    }
    textarea {
        min-height: 200px;
    }
    &__action {
        margin-top: 17px;
    }
}

.certificate-form {
    margin-top: 50px;
    @extend .question-form;
    &__action {
        margin-top: 17px;
    }
}

.order-form {
    margin-top: 50px;
}