<div class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <!-- FAQ -->
          <div id="faq" class="accordion">
            <div class="card question-card" id="question1">
              <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapse1">                          
                    О компании вили.ру
                      <img src="/assets/images/svg/icons/arrow-top.svg" alt="Раскрыть">
                  </a>
              </div>
              <div id="collapse1" class="collapse">
                  <div class="card-body">
                    <p>Вили.ру – это независимый тематический Интернет-ресурс, созданный московскими экспертами в коврах и декораторами интерьеров. Наша задача – как можно больше рассказать о ковре и его роли в интерьере. В блоге Вы найдёте статьи о современных трендах в дизайне интерьеров, прочитаете о том, как правильно подобрать ковер, поймете, как именно формируется стоимость ковра. Также у нас Вы можете ознакомиться с лучшими предложениями от наших партнеров, среди которых представлено более 40 салонов ковров. Представленный выбор ковров на нашем сайте является самым полным в России, что позволяет подобрать ковёр в любой интерьер.
                    </p>
                    <p>При выборе партнера мы руководствуемся его репутацией на рынке, надежностью, актуальностью ассортимента и адекватностью цен, уровнем и качеством сервиса. На протяжении сотрудничества мы постоянно контролируем качество товара и сервиса. На сайте, в разделе «Как выбрать ковер», Вы найдете полную информацию о коврах, интересные статьи и полезные рекомендации. Кроме того, на сайте доступны следующие опции:
                    </p>
                    <ul class="text-primary">
                      <li>Осуществить покупку с доставкой на дом;</li>
                      <li>Оформить заказ онлайн;</li>
                      <li>Получить консультацию по телефону с декоратором или экспертом;</li>
                      <li>Выслать фото Вашего интерьера для подбора оптимальных вариантов оформления;</li>
                      <li>Заказать бесплатный выезд декоратора на дом для определения нужного размера ковра и его стилистики;</li>
                      <li>Заказать примерку на дом в подарок.</li>
                    </ul>
                    <p>Мы осуществляем доставку по всей России, гарантируем возврат денег. Рекомендованные нами химчистки предлагают специальный сервис для наших клиентов.
                    </p>
                    <p>Мы всегда на связи с Вами – наши специалисты проконсультируют Вас даже после покупки ковра. Также можем провести оценку Вашего изделия и сертифицировать его в Музее Востока.
                    </p>
                    <p>Наша команда – это группа опытных экспертов в коврах, искусствоведов, дизайнеров, журналистов и молодых интернет-маркетологов. Их способности направлены на то, чтобы выбор ковра стал для Вас простым, удобным и интересным процессом.</p>
                  </div>
              </div>
            </div>
            <!-- /.question-card -->
            <div class="card question-card" id="question2">
              <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapse2">                          
                      Широчайший ассортимент
                      <img src="/assets/images/svg/icons/arrow-top.svg" alt="Раскрыть">
                  </a>
              </div>
              <div id="collapse2" class="collapse">
                  <div class="card-body">
                    <p>Вили.ру – это независимый тематический Интернет-ресурс, созданный московскими экспертами в коврах и декораторами интерьеров. Наша задача – как можно больше рассказать о ковре и его роли в интерьере. В блоге Вы найдёте статьи о современных трендах в дизайне интерьеров, прочитаете о том, как правильно подобрать ковер, поймете, как именно формируется стоимость ковра. Также у нас Вы можете ознакомиться с лучшими предложениями от наших партнеров, среди которых представлено более 40 салонов ковров. Представленный выбор ковров на нашем сайте является самым полным в России, что позволяет подобрать ковёр в любой интерьер.
                    </p>
                    <p>При выборе партнера мы руководствуемся его репутацией на рынке, надежностью, актуальностью ассортимента и адекватностью цен, уровнем и качеством сервиса. На протяжении сотрудничества мы постоянно контролируем качество товара и сервиса. На сайте, в разделе «Как выбрать ковер», Вы найдете полную информацию о коврах, интересные статьи и полезные рекомендации. Кроме того, на сайте доступны следующие опции:
                    </p>
                    <ul class="text-primary">
                      <li>Осуществить покупку с доставкой на дом;</li>
                      <li>Оформить заказ онлайн;</li>
                      <li>Получить консультацию по телефону с декоратором или экспертом;</li>
                      <li>Выслать фото Вашего интерьера для подбора оптимальных вариантов оформления;</li>
                      <li>Заказать бесплатный выезд декоратора на дом для определения нужного размера ковра и его стилистики;</li>
                      <li>Заказать примерку на дом в подарок.</li>
                    </ul>
                    <p>Мы осуществляем доставку по всей России, гарантируем возврат денег. Рекомендованные нами химчистки предлагают специальный сервис для наших клиентов.
                    </p>
                    <p>Мы всегда на связи с Вами – наши специалисты проконсультируют Вас даже после покупки ковра. Также можем провести оценку Вашего изделия и сертифицировать его в Музее Востока.
                    </p>
                    <p>Наша команда – это группа опытных экспертов в коврах, искусствоведов, дизайнеров, журналистов и молодых интернет-маркетологов. Их способности направлены на то, чтобы выбор ковра стал для Вас простым, удобным и интересным процессом.</p>
                  </div>
              </div>
            </div>
            <!-- /.question-card -->
            <div class="card question-card" id="question3">
              <div class="card-header">
                  <a class="collapsed card-link" data-toggle="collapse" href="#collapse3">                          
                      Удобные условия покупки
                      <img src="/assets/images/svg/icons/arrow-top.svg" alt="Раскрыть">
                  </a>
              </div>
              <div id="collapse3" class="collapse">
                  <div class="card-body">
                    <p>Вили.ру – это независимый тематический Интернет-ресурс, созданный московскими экспертами в коврах и декораторами интерьеров. Наша задача – как можно больше рассказать о ковре и его роли в интерьере. В блоге Вы найдёте статьи о современных трендах в дизайне интерьеров, прочитаете о том, как правильно подобрать ковер, поймете, как именно формируется стоимость ковра. Также у нас Вы можете ознакомиться с лучшими предложениями от наших партнеров, среди которых представлено более 40 салонов ковров. Представленный выбор ковров на нашем сайте является самым полным в России, что позволяет подобрать ковёр в любой интерьер.
                    </p>
                    <p>При выборе партнера мы руководствуемся его репутацией на рынке, надежностью, актуальностью ассортимента и адекватностью цен, уровнем и качеством сервиса. На протяжении сотрудничества мы постоянно контролируем качество товара и сервиса. На сайте, в разделе «Как выбрать ковер», Вы найдете полную информацию о коврах, интересные статьи и полезные рекомендации. Кроме того, на сайте доступны следующие опции:
                    </p>
                    <ul class="text-primary">
                      <li>Осуществить покупку с доставкой на дом;</li>
                      <li>Оформить заказ онлайн;</li>
                      <li>Получить консультацию по телефону с декоратором или экспертом;</li>
                      <li>Выслать фото Вашего интерьера для подбора оптимальных вариантов оформления;</li>
                      <li>Заказать бесплатный выезд декоратора на дом для определения нужного размера ковра и его стилистики;</li>
                      <li>Заказать примерку на дом в подарок.</li>
                    </ul>
                    <p>Мы осуществляем доставку по всей России, гарантируем возврат денег. Рекомендованные нами химчистки предлагают специальный сервис для наших клиентов.
                    </p>
                    <p>Мы всегда на связи с Вами – наши специалисты проконсультируют Вас даже после покупки ковра. Также можем провести оценку Вашего изделия и сертифицировать его в Музее Востока.
                    </p>
                    <p>Наша команда – это группа опытных экспертов в коврах, искусствоведов, дизайнеров, журналистов и молодых интернет-маркетологов. Их способности направлены на то, чтобы выбор ковра стал для Вас простым, удобным и интересным процессом.</p>
                  </div>
              </div>
            </div>
            <!-- /.question-card -->
          </div>
          <!-- /FAQ -->
        </div>
      </div>
    </div>
  </div>
  <!-- /.content-section -->