<div class="order-product product-card">
    <div class="order-product__picture product-card__picture">
        <img src="/assets/images/product.png" alt="Фото продукта">
    </div>
    <div class="order-product__content">
        <div class="order-product__headline">
            <div class="order-product__badges product-card__badges">
                <div class="product-card__badge badge badge_gradient_green">
                    товар в наличии на складе
                </div>
                <!-- /.order-product__badge badge -->
                <div class="product-card__badge badge badge_primary">
                    доставим завтра
                </div>
                <!-- /.order-product__badge badge -->
            </div>
            <div class="order-product__action">
                <button>Удалить</button>
            </div>
        </div>
        <!-- /.order-product__headline -->
        <div class="product-card__title">
            Индийский ковёр шерстяной High twist
        </div>
        <!-- /.product-card__title -->
        <div class="product-card__description">
            Ковер, короткий ворс. 
        </div>
        <!-- /.product-card__description -->
        <div class="product-card__price">
            279 576 ₽
        </div>
        <!-- /.product-card__price -->
        <div class="product-card__discount">
            <div class="product-card__oldprice">191 484 ₽ </div>
            <div class="product-card__discountvalue">Экономия 20 000 ₽</div>
        </div>
        <!-- /.product-card__discount -->
        <div class="order-product__filters">
            <div class="order-product__filter">
                <select name="size">
                    <option data-display="Размер">Размер</option>
                    <option value="1х1">1х1</option>
                    <option value="1х2">1х2</option>
                    <option value="1х3">1х3</option>
                </select>
            </div>
            <!-- /.order-product__filter -->
            <div class="order-product__filter">
                <select name="quantity">
                    <option data-display="Количество">Количество</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>
            <!-- /.order-product__filter -->
        </div>
        <!-- /.order-product__filters -->
    </div>
</div>
<!-- /.order-product product-card -->