<div class="post-card">
    <div class="post-card__poster">
      <div class="post-card__badges">
        <div class="post-card__badge badge badge_primary">
          Рассрочка
        </div>
      </div>
      <div class="post-card__cover">
        <img src="/assets/images/page-poster.jpg" alt="Постер">
      </div>
    </div>
    <div class="post-card__content">
      <div class="post-card__title">Рассрочка от 0%</div>
      <div class="post-card__description">
        Вы можете получить безпроцентную рассрочку под 0% в зависимости от того, какой товар вы приобритете
      </div>
      <div class="post-card__actions">
        <a href="" class="button button_lightgray">Узнать подробнее</a>
      </div>
    </div>
  </div>
  <!-- /.post-card -->