<div class="product-card">
    <a href="" class="product-card__inner">
      <div class="product-card__picture">
        <img src="/assets/images/product.png" alt="Фото продукта">
        <!-- Product Card Quick View -->
        <div class="product-card__quickview" data-toggle="modal" data-target="#product-12-quick-view">
          <div class="button">Быстрый просмотр</div>
        </div>
        <!-- /Product Card Quick View -->
      </div>                     
      <div class="product-card__content">
        <div class="product-card__badges">
          <div class="product-card__badge badge badge_green">Новинка</div>
          <div class="product-card__badge badge badge_red">Распродажа</div>
        </div>
        <div class="product-card__title">Carrata, Каррата</div>
        <div class="product-card__description">Ковер, короткий ворс, 0,8x0,4 м</div>
        <div class="product-card__price">171 484 ₽</div>
        <div class="product-card__discount">
          <div class="product-card__oldprice">191 484 ₽ </div>
          <div class="product-card__discountvalue">Экономия 20 000 ₽</div>
        </div>
      </div>
    </a>
    <div class="product-card__actions">
      <button class="button button_addtocart" title="Добавит в корзину">Добавить в корзину</button>
      <button class="button button_like" title="Добавить в избранное">
        <img src="/assets/images/svg/icons/heart.svg" alt="Добавить в избранное">
      </button>
    </div>
</div>
<!-- /.product-card -->