<div class="short-product-card">
  <a href="#" class="short-product-card__inner">
    <div class="short-product-card__picture">
      <img src="/assets/images/vanish.png" alt="Vanish">
    </div>
    <!-- /.short-product-card__picture -->
    <div class="short-product-card__content">
      <div class="short-product-card__title">
        Vanish Gold для ковров
      </div>
      <!-- /.short-product-card__title -->
      <div class="short-product-card__description">
        Активная пена для чистки ковров Vanish Чистота и Свежесть"
      </div>
      <!-- /.short-product-card__description -->
      <div class="short-product-card__price">
        299 ₽
      </div>
      <!-- /.short-product-card__price -->
    </div>
    <!-- /.short-product-card__content -->
  </a>
  <!-- /.short-product-card__inner -->  
  <div class="short-product-card__action">
    <button class="button">Добавить к заказу</button>
  </div>
  <!-- /.short-product-card__action -->
</div>
<!-- /.short-product-card -->